# For quick external access
apiVersion: v1
kind: Service
metadata:
  name: springboot-app-service
spec:
  selector:
    app: springboot-app
  ports:
  - port: 80
    targetPort: 8080
  type: LoadBalancer
